extends ../_includes/layout

block variables
  - var template = 'home'

block content
  .home#home
    .home__wrapper
      section.home__hero
        .home__hero__wrapper
          img.home__hero__image(alt=home.hero_image.alt data-src=home.hero_image.url)
          .home__hero__wrapper__overlay
          .home__hero__text
            h2(data-split="title").home__hero__maintext=home.hero_title
            p(data-split="paragraph").home__hero__subtext=home.hero_description
          .home__hero__line__wrapper
            .home__hero__line
          .home__hero__discover__btn
            .home__hero__discover=home.button

      each section in home.body
        if section.slice_type == 'about'
          section.home__about
            .home__about__idea__images__wrapper
              .home__about__idea__images
                each media in section.items
                  figure.about__idea__media
                    img.about__idea__media__image(data-src=media.about_image.url alt=media.about_image.alt)
            .home__about__text
              h2(data-split="").home__about__maintext=section.primary.about_text
              p(data-split="").home__about__subtext=section.primary.about_description
            .home__about__movingtext
              h2.home__about__longtext=section.primary.long_text
              h2.home__about__longtext=section.primary.long_text
              h2.home__about__longtext=section.primary.long_text

        .home__about__transition__white
        .home__about__transition__black
        .home__about__scrolltext(data-split="") scroll for more
        if section.slice_type == 'services'
          section.home__services
            .home__services__wrapper
              .home__services__nav
                  .home__services__nav__progress
                    .home__services__nav__progress__progress__bar
                      .home__services__nav__progress__progress__bar__progress
                    p(data-split="paragraph").home__services__nav__progress__progress__number 03/07
                  .home__services__nav__projects
                    svg.home__services__nav__projects__arrow(viewBox="7.875 11.252 11.515 6.934")
                      path(d="M 15.21814250946045 11.38442420959473 C 15.01416683197021 11.56499004364014 15.01416683197021 11.86473178863525 15.21414470672607 12.04891109466553 L 17.64586067199707 14.24821662902832 L 8.390938758850098 14.24821662902832 C 8.106971740722656 14.24821662902832 7.874999046325684 14.45767593383789 7.874999046325684 14.71769142150879 C 7.874999046325684 14.97770881652832 8.106971740722656 15.18716621398926 8.390938758850098 15.18716621398926 L 17.64186096191406 15.18716621398926 L 15.21014499664307 17.38647270202637 C 15.01016712188721 17.57065200805664 15.01416683197021 17.86678123474121 15.21414279937744 18.05096054077148 C 15.41811847686768 18.23152732849121 15.74208164215088 18.23152732849121 15.94605731964111 18.04734802246094 L 19.24167633056641 15.04993629455566 C 19.24167633056641 15.04993629455566 19.24167633056641 15.04993629455566 19.24167633056641 15.04993629455566 C 19.28567123413086 15.00659942626953 19.32166862487793 14.95965385437012 19.34966278076172 14.9018726348877 C 19.37766075134277 14.84409141540527 19.3896598815918 14.7826976776123 19.3896598815918 14.72130393981934 C 19.3896598815918 14.59851837158203 19.33766555786133 14.48295593261719 19.24167633056641 14.39267349243164 L 15.94605731964111 11.39525985717773 C 15.75008296966553 11.2074670791626 15.42212009429932 11.203857421875 15.21814250946045 11.38442420959473 Z")
                    a.home__services__nav__projects__link(href='/projects')
                      .home__services__nav__projects__link__btn( data-split="title")=section.primary.projects_button

              .home__services__gallery__wrapper
                .home__services__gallery
                  each service, index in services
                    .home__services__service(id=`${index + 1}` data-id =`${service.data.title}`)
                      figure.home__services__service__image
                        img(data-src=service.data.placeholder_image.url alt=service.data.placeholder_image.alt)
                        .home__services__service__image__overlay
                      h2.home__services__service__title
                        span=service.data.title
                        span=service.data.title

              .home__services__slides__btns__wrapper
                .home__services__slides__btns.btn__left
                  svg.home__services__slides__btns__icon.left__icon(width="27.42" height="13.896" viewBox="0 0 27.42 13.896")
                    path(d="M-7.393-27.05h2.948V-4.026L-2.332-6.21h3.38L-5.8.37h-.219l-6.828-6.58h3.379l2.075,2.145Zm2.6.35H-7.043V-3.2L-9.617-5.86H-11.98L-5.91-.01.179-5.86H-2.183L-4.8-3.161Z" transform="translate(27.05 1.048) rotate(-90)" fill="#fff")
                  //- .home__services__slides__btns__icon.left__icon ↓
                .home__services__slides__btns.btn__right
                  svg.home__services__slides__btns__icon.right__icon(width="27.42" height="13.896" viewBox="0 0 27.42 13.896")
                    path(d="M-7.393-27.05h2.948V-4.026L-2.332-6.21h3.38L-5.8.37h-.219l-6.828-6.58h3.379l2.075,2.145Zm2.6.35H-7.043V-3.2L-9.617-5.86H-11.98L-5.91-.01.179-5.86H-2.183L-4.8-3.161Z" transform="translate(27.05 1.048) rotate(-90)" fill="#fff")
                  //- .home__services__slides__btns__icon.right__icon ↓

      section

