extends ../_includes/layout

block variables
    - var template = 'service'


block content
  .service(id=`${serviceName}`)
    h1=service.title
    each project in allProjects
      article.service_project.none
        h2=project.name
        img(src=project.imageUrl alt=project.imageAlt)
